h1 {
    text-align: center;
    padding: 20px;
    color: #0d0c0c;

}

.listContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
}

.userDetails {
    margin-left: 20px;
}

.userList {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(16, 15, 15, 0.1);
    font-size: 1.2em;
    color: #333;
}

.userList:hover {
    cursor: pointer;
}

.favoriteButton {
    font-size: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    transition: color 0.2s;
}

.favoriteButton:hover {
    color: #f39c12;
}

.favoriteButton {
    color: #f39c12;
}

.addUserButton {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-left: auto;
    margin-right: 20px;
}


.addUserForm {
    max-width: 500px;
    margin: 10px auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.formTitle {
    text-align: center;
    font-size: 1.8em;
    color: #333;
    margin-bottom: 10px;
    margin-top: 0px;
}

label {
    display: block;
    font-weight: bold;
    color: #555;
    margin-bottom: 5px;
}

input {
    width: 96%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    margin-bottom: 10px;
}

input:focus {
    border-color: #4CAF50;
}

.submitBtn {
    width: 100%;
    padding: 12px;
    font-size: 1.1em;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.submitBtn:hover {
    background-color: #45a049;
}